.s-notification {
  $this: 'notification';
  width: 430px;
  height: 350px;
  padding: 15px;
  padding-bottom: 11px;
  border: 1px solid $s-default--gray-5;
  border-radius: 5px;
  background-color: #fff;
  @include box-shadow(5px, 5px, 10px, 0, #8a8a8a1a);

  &.more {
    height: 380px;
  }
  .#{$this}__header-box {
    padding-top: 6px;
    padding-bottom: 10px;
    height: calc(21px + 26px);
    @include set-text(bold, 17, rgba($color: $s-primary, $alpha: 1));
    border-bottom: 1px solid $s-default--gray-5;
  }
  .#{$this}__contents-box {
    width: 100%;
    height: calc(100% - 39px - 41px);
    overflow: hidden;
    &.more {
      @include scroll();
      overflow-y: auto;
    }
    .#{$this}__content {
      padding: 10px 0;
      border-bottom: 1px solid $s-default--gray-5;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &:hover {
        background-color: darken($s-default--gray-1, 5%);
      }

      .#{$this}__prefix {
        text-align: right;
        width: 30px;
        &.redDot::before {
          content: '';
          display: inline-block;
          width: 6px;
          height: 6px;
          margin: 0 5px 0 0;
          vertical-align: middle;
          border-radius: 50%;
          background-color: $s-btn--red-1;
        }
      }

      .#{$this}__title {
        display: flex;
        justify-content: space-between;
        @include set-text(500, 13, rgba($color: $s-primary, $alpha: 1));

        .created {
          margin-left: 10px;
          @include set-text(
            normal,
            11,
            rgba($color: $s-default--gray-7, $alpha: 1)
          );
        }
      }
      .#{$this}__message-box {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        @include set-text(normal, 11, rgba($color: $s-primary, $alpha: 1));

        .type {
          margin-left: 10px;
          @include set-text(normal, 11, black);
        }
        .#{$this}__message {
          max-width: 92%;
        }
        .#{$this}__delete-box {
          width: 8%;
        }
      }
      .#{$this}__additional-box {
        max-width: 100%;
        @include set-text(normal, 11, rgba($color: #2F3E4E, $alpha: 1));
      }

      .#{$this}__title-wrapper {
        width: 85%;
      }
      .#{$this}__check-wrapper {
        width: 17px;
        height: 17px;
        border-radius: 150px;
        background-color: $s-btn--green-1;
        display: flex;
        align-items: center;
        justify-content: center;
        .#{$this}__check-icon {
          @include set-text(normal, 14, rgba($color: $s-default--gray-0, $alpha: 1));
        }
      }
      .#{$this}__delete-wrapper {
        width: 17px;
        height: 17px;
        border-radius: 150px;
        background-color: $s-default--gray-7;
        display: flex;
        align-items: center;
        justify-content: center;
        .#{$this}__delete-icon {
          @include set-text(normal, 14, rgba($color: $s-default--gray-0, $alpha: 1));
          font-size: 1rem;
        }
      }
    }
  }
  .#{$this}-no-item {
    display: flex;
    height: 85%;
    align-items: center;
    justify-content: center;
  }
  .#{$this}__footer-box {
    display: block;
    width: 100%;
    height: calc(11px + 28px);
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid $s-default--gray-5;
    text-decoration: none;
    cursor: pointer;
    @include set-text(bold, 15, rgba($color: $s-blue, $alpha: 1));
  }
}
