.s-avatar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;

  :deep(.v-avatar.v-avatar--size-default) {
    --v-avatar-height: 32px;

    .s-avater__border {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: $s-secondary;
      background-origin: border-box;
      background-clip: border-box;
      border: 1px solid transparent;
      border-radius: 50%;
    }

    .s-img {
      background-color: $main-color;
      background-origin: border-box;
      background-clip: content-box;
      border-radius: 50%;
    }
  }

  .s-user-name {
    margin-right: 11px;
    background: url('/public/assets/images/expand_more.svg') no-repeat right center;
    padding-right: 25px;
    cursor: pointer;

    i {
      display:none;
    }

    .s-user-name__text {
      font-size:14px;
      text-align: right;
      color: #fff;
    }
  }
}
.s-avatar-menu__list {
  width: 100px;
  @include set-text(400, 12, null);

  :deep(.v-list-item--density-default.v-list-item--one-line) {
    min-height: 24px;

    .v-list-item-title {
      text-align: center;
      @include set-text(500, 12, $s-default--gray-9);
    }
  }
}
