init.author.name = admin
init.author.email = admin@strato.co.kr
# an email is required to publish npm packages
admin@strato.co.kr
@strato:registry=http://210.217.178.150:8081/repository/strato-ui/
//210.217.178.150:8081/repository/strato-ui/:_auth=YWRtaW46c3RyYXRvMTIjJA==
