// 주색
$main-color: #232B3B;

// 선택된 메뉴에 대한 폰트 색상
$active-font-color: #1297f2;

// 활성화 된 버튼 바당 색
$button-color: #017BE5;

$data-table-header-color: #F6F9FA;


/**
* BUTTON COLOR
*/
$s-btn__background: #FFFFFF;

$s-btn--green-1: #00BA88;
$s-btn--green-2: #F6FFFD;
$s-btn--green-3: #EEFFFB;
$s-btn--red-1: #B80303;
$s-btn--red-2: #FCF6F6;
$s-btn--red-3: #FAEDED;
$s-btn--blue-1: #1297F2;
$s-btn--blue-2: #F6F9FC;
$s-btn--blue-3: #EDF4FA;
$s-btn--gray-1: #F7F9FA;
$s-btn--blue-4: #EEEEEE;
$s-btn--blue-6: #CCCCCC;
$s-btn__secondary: linear-gradient(90deg, #7C0F80 0%, #1B75BB 100%) ;
$s-btn__primary: #1C2536;
