@import './_variables.scss';
.portal_layout * {
    font-family: $s-base-font;
}

.active-text-color {
    color: $active-font-color;
}
.text-align-right {
    text-align: right;
}
.text-align-center {
    text-align: center;
}
.show-header {
    margin-top: 68px;
    height: 100%;
}
.show-navi {
    margin-left: 300px;
}
#navi {
    width: 300px;
    height: 100%;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-none {
    display: none !important;
}
.display-block {
    display: block  !important;;
}
.display-inline-block {
    display: inline-block  !important;;
}

.s-avatar-menu__list {
    .v-list-item--density-default.v-list-item--one-line {
        min-height: 24px;

        .v-list-item-title {
            text-align: center;
            @include set-text(500, 12, $s-default--gray-9);
        }
    }
}

.v-menu .v-list-item--density-default.v-list-item--one-line {
    min-height: 24px;

    .v-list-item-title{
        @include set-text(500, 12, $s-default--gray-9);
    }
}

// 헤더 영역 
.s-global-select {
    .v-select__selection .v-select__selection-text {
        @include set-text(500, 12, $s-default--gray-6);
    }
}

// Side 영역
#project_select .v-select__selection-text {
    @include set-text(400, 14, null);
}

#menu_wrapper {
    padding-right: 20px;
    padding-left: 20px;

    .v-list-item .v-list-item__prepend .v-list-item__spacer {
        width: 0;
    }
}

.s-title-area__content {
    .s-title-area__buttons {
        button {
            min-width: 110px;
            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}

.v-application__wrap {
    background-color: $s-base-background;

    #navi {
        background-color: white;
    }

    .layout__list-contents {
        border: 1px solid $s-default--gray-5;
        border-radius: 10px;
        background-color: white;
        padding: 16px;
    }
}

.v-input.v-input--density-compact {
    &.v-text-field,
    &.v-select {
        .v-field__input,
        .v-select__selection {
            font-size: 12px;
        }
    }
}