.textAlignRight {
    text-align: right;
}
.textAlignCenter {
    text-align: center;
}
.showHeader {
    margin-top: 68px;
}
.showNavi {
    margin-left: 300px;
}
#router_view {

}
#navi {
    width: 300px;
    height: 100%;
}
