@import './_variables.scss';

.portal_layout * {
    font-family: $s-base-font;
}

.active-text-color {
    color: $active-font-color;
}
.text-align-right {
    text-align: right;
}
.text-align-center {
    text-align: center;
}
.show-header {
    margin-top: 68px;
}
.show-navi {
    margin-left: 300px;
}
#navi {
    width: 300px;
    height: 100%;
}
.view-wrapper {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-none {
    display: none !important;
}
.display-block {
    display: block  !important;;
}
.display-inline-block {
    display: inline-block  !important;;
}

.s-avatar-menu__list {
    .v-list-item--density-default.v-list-item--one-line {
        min-height: 24px;

        .v-list-item-title {
            text-align: center;
            @include set-text(500, 12, $s-text__gray-9)
        }
    }
}