@import './_variables.scss';
.portal_layout * {
    font-family: $s-base-font;
}

.active-text-color {
    color: $active-font-color;
}
.text-align-right {
    text-align: right;
}
.text-align-center {
    text-align: center;
}
.show-header {
    margin-top: 68px;
    height: 100%;
}
.show-navi {
    margin-left: 300px;
}
#navi {
    width: 300px;
    height: 100%;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-none {
    display: none !important;
}
.display-block {
    display: block  !important;;
}
.display-inline-block {
    display: inline-block  !important;;
}

.s-avatar-menu__list {
    .v-list-item--density-default.v-list-item--one-line {
        min-height: 24px;

        .v-list-item-title {
            text-align: center;
            @include set-text(500, 12, $s-text__gray-9);
        }
    }
}

.v-menu .v-list-item--density-default.v-list-item--one-line {
    min-height: 24px;

    .v-list-item-title{
        @include set-text(500, 12, $s-text__gray-9);
    }
}

.s-global-select {
    .v-select__selection .v-select__selection-text {
        @include set-text(500, 12, $s-text__gray-6);
    }
}

.s-title-area__content {
    .s-title-area__buttons {
        button {
            min-width: 110px;

            &:hover {
                .v-btn__overlay {
                    background-color: $s-btn--red-1;
                    opacity: 0.1;
                }
            }

            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}