@import "src/assets/style/variables";

.active-text-color {
    color: $active-font-color;
}
.text-align-right {
    text-align: right;
}
.text-align-center {
    text-align: center;
}
.show-header {
    margin-top: 68px;
}
.show-navi {
    margin-left: 300px;
}
#router_view {

}
#navi {
    width: 300px;
    height: 100%;
}
.view-wrapper {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-none {
    display: none !important;
}
.display-block {
    display: block  !important;;
}