@import "src/assets/style/variables";

.activeTextColor {
    color: $active-font-color;
}
.textAlignRight {
    text-align: right;
}
.textAlignCenter {
    text-align: center;
}
.showHeader {
    margin-top: 68px;
}
.showNavi {
    margin-left: 300px;
}
#router_view {

}
#navi {
    width: 300px;
    height: 100%;
}
.viewWrapper {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
