.s-form__item {
  border-bottom: solid 1px #eee;
  min-height: 50px;
  display: flex;

  &--1line {
    min-height: 50px;
  }

  &--2line {
    min-height: 90px;
  }

  &--3line {
    min-height: 130px;
  }

  .s-form__item-label{
    background:#F7F9FA;
    flex: 0 0 var(--s-form-item-label-width, 170px);
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;

    > span{
      font-size:14px;
      color:#333;
      font-weight:600;
      word-break: break-word;
    }

    .required{
      color: red;
      margin-left: 3px;
      position: relative;
      top: -2px;
    }
  }

  .s-form__item-content {
    flex: 1;
    min-width: 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 8px 0 8px 20px;
    font-size: 12px;
    color: #333;

    .s-form__item-content-item {
      min-width: 0;
      max-width: 100%;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      align-items: center;
      font-size:14px;
      font-weight: 400;
      white-space: normal;
      word-break: break-all;
      overflow-wrap: break-word;

      :deep(.s-btn):not(.v-btn--icon) {
        width: 110px;
      }

      // tooltip과 아이콘을 한 줄에 표시하는 경우
      &.single-line {
        flex-wrap: nowrap;

        > :first-child {
          flex: 1;
          min-width: 0;
          overflow: hidden;

          &button {
            flex: 0 0 auto;
            width: auto;
          }
        }

        > :not(:first-child) {
          flex-shrink: 0;
        }
      }
    }

    .s-form__item-outer-append {
      font-size: 12px;
    }

    :deep(.v-text-field) {
      min-width: var(--s-text-field-min-width, 618px);
      max-width: var(--s-text-field-max-width, 100%);

      .v-input__control .v-field {
        .v-field__input {
          padding: 5px 8px;

          &.v-select {
            min-width: var(--s-text-select-min-width, 618px);
            max-width: var(--s-text-select-max-width, 100%);
          }
        }

        .v-icon {
          opacity: 1;
          color:#000;
        }
      }
    }

    :deep(.v-field-field:not(.v-select)) {
      .v-field__input:has(input) {
        padding: 0 8px;
      }
    }
  }
}

.half_box {
  .s-form__item {
    :deep(.v-text-field) {
      min-width: calc(var(--s-text-field-min-width, 618px) / 2.5);
      max-width: calc(var(--s-text-field-max-width, 100%) / 2.5);

      .v-input__control .v-field {
        .v-field__input.v-select {
          min-width: calc(var(--s-text-select-min-width, 618px) / 2.5);
          max-width: calc(var(--s-text-select-max-width, 100%) / 2.5);
        }
      }
    }
  }
}

.third_box {
  .s-form__item {
    :deep(.v-text-field):not(.v-textarea) {
      min-width: calc(var(--s-text-field-min-width, 618px) / 1.5);
      max-width: calc(var(--s-text-field-max-width, 100%) / 1.5);
    }

    .v-input__control .v-field {
      .v-field__input.v-select {
        min-width: calc(var(--s-text-select-min-width, 618px) / 1.5);
        max-width: calc(var(--s-text-select-max-width, 100%) / 1.5);
      }
    }
  }
}
