html * {
    font-family: $s-base-font;
    --global-nav-header-height: 68px;

    .mdi-checkbox-marked::before{color: #1297f2 ;}
}

.v-theme--light {
    --v-border-color: $s-default--gray-5;
}

.active-text-color {
    color: $active-font-color;
}

.error-text-color {
    color:#B80303
}

.info-text-color {
    color:#00BA88
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.v-application__wrap {
    background-color: $s-base-background;
}

.show-header {
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 68px 0;
}

.base-layout {
    width: 100%;
    padding: 0 35px;
    padding-top: 0;
    background-color: #f7f9fa;
    position: absolute;
    overflow-x: auto;
    @include scroll();

    .show-navi {
        margin-left: 300px;
        min-width: 1100px;
        min-height: calc(100vh - 136px);
        position: relative;
    }

    &:has(.show-navi) {
        .footer-wrapper {
            margin-left: 300px;
        }
    }
}

.s-global-select:deep(.v-input) {
    .v-field__overlay {
        background-color: #1c2536 !important;
    }
}

.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 40px;
    margin-bottom: 10px;
    width: 100%;

    > span:last-child {
        align-self: baseline;
        top: 13px;
    }

    .search--half {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .search__text-field {
        max-width: 350px;
        background-color: white;
    }

    .v-field .v-field__prepend-inner .v-icon {
        --v-medium-emphasis-opacity: 1;
    }

    .list-controls {
        display: flex;
        gap: 10px;
        height: 42px;
        align-items: center;
    }
}

.v-menu .v-overlay__content > .v-list{
    padding:5px 0;
    border: solid 1px $active-font-color;
}

.v-list {
    .v-list-item {
        margin:0 5px;
    }

    .v-list-item + .v-list-item {
        margin-top: 5px;
    }

    .v-list-item > .v-list-item__overlay {
        background: $active-font-color;
        border-radius:99px;
    }

    .v-list-item--active {
        font-weight:400;
    }

    .v-list-item--active > .v-list-item__overlay,
    .v-list-item:hover > .v-list-item__overlay {
        opacity: .3;
    }

    .v-list-item--density-default.v-list-item--one-line {
        min-height: 24px;

        .v-list-item-title {
            @include set-text(500, 12, $s-default--gray-9);
        }
    }
}

.v-input {
    &.v-input--disabled,
    &.v-input--readonly {
        // --v-disabled-opacity: 1;
        .v-field__overlay{
            background-color: $s-default--gray-1;
        }
    }

    .v-field--variant-outlined {
        &:not(.v-field--error) .v-field__outline {
            --v-field-border-opacity: 1;
            color: $s-default--gray-5;
        }

        &.v-field--error .v-field__outline {
            --v-field-border-opacity: 1;
            color: $s-btn--red-1;
        }
    }

    &.v-input--density-compact {
        --v-input-control-height: 30px;

        &.v-file-input,
        &.v-text-field,
        &.v-select {
            .v-field__input,
            .v-select__selection {
                font-size: 12px;
                --v-input-control-height: 20px;
                --v-field-input-padding-top: 3px;
                --v-field-input-padding-bottom: 3px;
                --v-input-padding-top: 0px;

                &::placeholder{
                    font-weight: 300;
                }
            }
        }
        .v-field--no-label {
            --v-field-padding-bottom: 6px;
        }

        .v-selection-control--density-compact {
            --v-selection-control-size: 18px;

            .v-label {
                opacity: 1;
                font-size: 12px;
                padding-left: 8px;
                font-weight: 400;

                .label--active {
                    color: $s-blue;
                }
            }
        }

        .v-text-field__suffix {
            min-height: var(--v-input-control-height);

            .v-text-field__suffix__text {
                font-size: 12px;
            }
        }
    }
    &.v-input--density-comfortable {
        --v-input-control-height: 40px;

        &.v-file-input,
        &.v-text-field,
        &.v-select {
            // height: 40px;
            .v-field__input,
            .v-select__selection {
                font-size: 16px;
                --v-input-control-height: 30px;
                --v-field-input-padding-top: 8px;
                --v-field-input-padding-bottom: 8px;
            }
        }
    }
}

.layout__list-contents {
    border: 1px solid $s-default--gray-5;
    border-radius: 10px;
    background-color: white;
    padding: 16px;
}

.form-wrapper {
    border-radius: 10px;
    background-color: white;
    border: 1px solid $s-default--gray-5;
    padding: 10px;

    &:not(:first-child) {
        margin-top: 20px;
    }
}

.form-item--half {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 110px;
    gap: 10px;

    .v-text-field {
        min-width: initial !important;
        .v-input__control .v-field .v-field__input {
            min-width: initial !important;
        }
    }
}


.form__btn-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px 30px 30px;

    .s-btn {
        min-width: 110px;
        height: 36px;
        &:not(:first-child){
            margin-left:10px
        }
    }
}

.selected__chip {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;

    .v-chip {
        min-width: 45px !important;
        height: 24px !important;
        padding: 8px 15px !important;
        font-size: 12px !important;

        .v-chip__underlay {
            background: $s-blue;
        }

        .v-chip__close {
            color: $s-blue;
        }
    }
}


.v-tabs--density-compact {
    --v-tabs-height: 40px !important;
}

.v-slide-group__content {
    .v-tab.v-tab {
        background: $s-default--gray-1;
        border-left: solid 1px $s-default--gray-5;
        border-right: solid 1px $s-default--gray-5;
        border-bottom: solid 1px $s-default--gray-5;
        border-top: solid 1px $s-default--gray-5;

        .v-btn__content {
            font-size: 14px;
            color: $s-default--gray-7;
            font-weight: 600;

            .v-tab__slider {
                top: 0;
                bottom: initial;
            }
        }

        &.v-tab--selected {
            background: #fff;
            border-top: none;

            .v-btn__content {
                font-size: 14px;
                color: $active-font-color;
            }
        }
    }
}

.v-window {
    .view-wrapper {
        padding-top: 10px;
    }
}
