.portal_layout * {
    font-family: $s-base-font;
    --global-nav-header-height: 68px;
}

.v-theme--light {
    --v-border-color: $stext__gray-5;
}

.active-text-color {
    color: $active-font-color;
}
.text-align-right {
    text-align: right;
}
.text-align-center {
    text-align: center;
}
.show-header {
    position: fixed;
    top: 68px;
    height: 100%;
    width: 100%;
}
.show-navi {
    margin-left: 300px;
}
#navi {
    width: 300px;
    height: 100%;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-none {
    display: none !important;
}
.display-block {
    display: block  !important;;
}
.display-inline-block {
    display: inline-block  !important;;
}

.s-avatar-menu__list {
    .v-list-item--density-default.v-list-item--one-line {
        min-height: 24px;

        .v-list-item-title {
            text-align: center;
            @include set-text(500, 12, $s-default--gray-9);
        }
    }
}

.v-menu .v-list-item--density-default.v-list-item--one-line {
    min-height: 24px;

    .v-list-item-title{
        @include set-text(500, 12, $s-default--gray-9);
    }
}

// 헤더 영역
.s-global-select {
    .v-select__selection .v-select__selection-text {
        @include set-text(500, 12, $s-default--gray-6);
    }
}

// Side 영역
#project_select .v-select__selection-text {
    @include set-text(400, 14, null);
}

#menu_wrapper {
    padding-right: 30px;
    padding-left: 30px;

    .v-list-item .v-list-item__prepend .v-list-item__spacer {
        width: 0;
    }
}

.s-title-area__content {
    .s-title-area__buttons {
        button {
            min-width: 110px;
            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}

.v-application__wrap {
    background-color: $s-base-background;

    #navi {
        background-color: white;
    }

    .layout__list-contents {
        border: 1px solid $s-default--gray-5;
        border-radius: 10px;
        background-color: white;
        padding: 16px;
    }
}

.search .v-field .v-field__prepend-inner .v-icon {
    --v-medium-emphasis-opacity: 1;
}

.v-input.v-input--disabled .v-field--disabled,
.v-input.v-input--readonly {
    --v-disabled-opacity: 1;
    .v-field__overlay{
        background-color: $s-default--gray-1;
    }
}
.v-input .v-field--variant-outlined {
    &:not(.v-field--error) .v-field__outline {
        --v-field-border-opacity: 1;
        color: $s-default--gray-5;
    }

    &.v-field--error .v-field__outline {
        --v-field-border-opacity: 1;
        color: $s-btn--red-1;
    }
}

.v-input {
    &.v-input--density-compact {
        --v-input-control-height: 30px;

        &.v-file-input,
        &.v-text-field,
        &.v-select {
            .v-field__input,
            .v-select__selection {
                font-size: 12px;

                &::placeholder{
                    font-weight: 300;
                }
            }
        }

        .v-selection-control--density-compact {
            --v-selection-control-size: 18px;

            .v-label {
                opacity: 1;
                font-size: 12px;
                padding-left: 8px;
                font-weight: 400;

                .label--active {
                    color: $s-blue;
                }
            }
        }
    }
    &.v-input--density-comfortable {
        --v-input-control-height: 40px;

        &.v-file-input,
        &.v-text-field,
        &.v-select {
            height: 40px;

            .v-field__input,
            .v-select__selection {
                font-size: 16px;
            }
        }
    }
}

.form-wrapper {
    border-radius: 10px;
    background-color: white;
    border: 1px solid $s-default--gray-5;
    padding: 10px;

    &:not(:first-child) {
        margin-top: 20px;
    }
}

.form-item--half {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 110px;
    gap: 10px;

    .v-text-field {
        min-width: initial !important;
        .v-input__control .v-field .v-field__input {
            min-width: initial !important;
        }
    }
}
