$scroll-width: 10px;
$scroll-height: 17%;
$scroll-background-color: #C4C4C4;
$scroll-border-color: #707070;
$scroll-border-radius: 10px;

$s-base-font: 'Paperlogy', 'Noto Sans KR', sans-serif;
$s-base-background: #F7F9FA;

// 주색
$main-color: #1C2536;

// 선택된 메뉴에 대한 폰트 색상
$active-font-color: #1297F2;

// 활성화 된 버튼 바탕 색
$button-color: #1B75BB;

$data-table-header-color: #F6F9FA;

/**
* Default Color
*/
$s-primary: #1C2536;
$s-secondary: linear-gradient(90deg, #7C0F80 0%, #1B75BB 100%);
$s-blue: #1B75BB;
$s-purple: #7C0F80;

/**
* BUTTON COLOR
*/
$s-btn__background: #FFFFFF;

$s-btn--green-1: #00BA88;
$s-btn--green-2: #F6FFFD;
$s-btn--green-3: #EEFFFB;
$s-btn--red-1: #B80303;
$s-btn--red-2: #FCF6F6;
$s-btn--red-3: #FAEDED;
$s-btn--blue-1: #1297F2;
$s-btn--blue-2: #F6F9FC;
$s-btn--blue-3: #EDF4FA;
$s-btn--gray-1: #F7F9FA;
$s-btn--gray-4: #EEEEEE;
$s-btn--gray-6: #CCCCCC;
$s-btn__secondary: linear-gradient(90deg, #7C0F80 0%, #1B75BB 100%);
$s-btn__primary: #1C2536;

/**
* TEXT COLOR
*/
$s-default--gray-0: #FFFFFF;
$s-default--gray-1: #F7F9FA;
$s-default--gray-2: #F6F6F6;
$s-default--gray-3: #F2F2F2;
$s-default--gray-4: #EEEEEE;
$s-default--gray-5: #DDDDDD; // disabled color, border color
$s-default--gray-6: #CCCCCC;
$s-default--gray-7: #999999;
$s-default--gray-8: #6C6C6C;
$s-default--gray-9: #333333;
$s-default--gray-10: #000000;


:root {
    --s-form-item-label-width: 170px;

    --s-text-field-min-width: 450px;
    --s-text-select-min-width: 410px;
}
