.s-loading {
  $this: 's-loading';
  position: fixed;
  background-color: white;
  width: 400px;
  height: 234px;
  border: 1px solid $s-default--gray-5;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  .#{$this}__message {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
  }
  .#{$this}__spinner {
    text-align: center;
  }
  .#{$this}__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
  }
}

.custom-overlay {
  margin-top: 68px;
  height: calc(100% - 68px);
  align-items: center;
  justify-content: center;
}
