.s-progress-circular {
  $this: 's-progress-circular';
  --stroke-width: 6px;
  $progress-circular-intermediate-svg-transition: all 0.2s ease-in-out !default;
  $progress-circular-overlay-transition:
      all 0.2s ease-in-out,
      --stroke-width 0s !default;
  $progress-circular-overlay-transform: rotate(calc(-90deg)) !default;
  $progress-circular-rotate-animation: progress-circular-rotate 1.4s linear infinite !default;
  $progress-circular-rotate-dash: progress-circular-dash 1.4s ease-in-out infinite !default;
  $progress-circular-size: 32px !default;

  border-radius: 100%;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  position: relative;
  vertical-align: middle;

  .#{$this}__underlay {
    stroke: $s-btn--blue-1;
    stroke-opacity: 0.1;
    z-index: 1;
  }

  .#{$this}__overlay {
    stroke: url(#gradientColor);
    transition: $progress-circular-overlay-transition;
    z-index: 2;
    stroke-linecap: round;

    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15px;
    animation: $progress-circular-rotate-dash, $progress-circular-rotate-animation;
    transform-origin: center center;
    transform: $progress-circular-overlay-transform;
  }
}

@keyframes progress-circular-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0px;
  }

  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes progress-circular-rotate {
  100% {
    transform: rotate(270deg);
  }
}
