.s-header {
  box-shadow: 0px 4px 4px 0px #00000040;

  .s-logo {
    width: 288px;
    height: 68px;

    .s-logo__img {
      margin-top: 17px;
      cursor: pointer;
    }
  }

  :deep(.v-toolbar__prepend) {
    margin-inline: 0;

    .s-btn__menu {
      &:hover > .v-btn__overlay,
      &:focus-visible > .v-btn__overlay {
        opacity: 0;
      }

      > .v-ripple__container {
        display: none;
      }

      &:focus-visible::after {
        opacity: 0;
      }

      .s-btn__menu__icon {
        color: #000;
        background-color: #fff;
        border-radius: 50%;
        font-size: 1rem;
        width: 18px;
        height: 18px;
      }
    }
  }

  :deep(.s-item-group) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    gap: 10px;

    .v-field__input {
      border-radius: 0;
      padding: 0;
    }
    .v-select__selection {
      margin: 0;
    }
    .v-select__selection-text {
      font-size: 12px;
    }
    .v-field__append-inner i {
      display: none;
    }
    .v-menu .v-overlay__content {
      border-radius: 5px;
    }

    .s-sign__btn {
      display: inline-table;
      cursor: pointer;
      color: #fff;
      background: $s-btn__primary 0% 0% no-repeat padding-box;
      opacity: 1;
      padding: 6px 20px;
      text-align: center;
      padding: 0;
      width: 110px;
      height: 36px;

      border-radius: 5px;
      border: solid 1px #fff;
      font-size: 14px;
      font-weight: 500;

      line-height: 36px;
    }
  }
}

#side_menu_wrapper {
  --v-hover-opacity: 0;
  --v-activated-opacity: 0;
  --v-focus-opacity: 0;
  --v-theme-overlay-multiplier: 0;

  position: relative;
  height: calc(100vh - 150px);
  overflow-y: auto;
  @include scroll();

  :deep(.side-menu) {
    cursor: pointer;
    width: 300px;
    height: 52px;
    padding: 0;

    &.v-list-item {
      margin-top: 0 !important;
      font-weight: 300;

      .v-list-item-title {
        font-size: 18px;
        font-weight: 300;
      }

      &.v-list-item--active {
        color: $active-font-color;

        .v-list-item-title {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}
#side_menu_background {
  width: 420px;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  background: $main-color;
  color: #fff;
  overflow: hidden;
  padding: 0 30px;
}

/**
 * 서비스 메뉴
 */
.menu-back-ground {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
  top: var(--global-nav-header-height);
  left: 0;

  &.hide {
    height: 0;
    margin: 0;
    transition: linear 0.2s;
  }

  &.show {
    height: calc(100% - var(--global-nav-header-height, 68px));
    transition: linear 0.2s;
  }

  .side-menu-btn {
    margin-top: 11px;
  }
}
