.s-header {
  height: var(--global-nav-header-height);
  box-shadow: 0px 4px 4px 0px #00000040;

  .s-logo {
    width: 288px;
    height: 100%;

    .s-logo__img {
      margin-top: 17px;
      cursor: pointer;
    }
  }

  :deep(.v-toolbar__prepend) {
    margin-inline: 0;

    .s-btn__menu {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;

      &:hover > .v-btn__overlay,
      &:focus-visible > .v-btn__overlay {
        opacity: 0;
      }

      > .v-ripple__container {
        display: none;
      }

      &:focus-visible::after {
        opacity: 0;
      }

      .s-btn__menu__icon {
        color: #000;
        background-color: #fff;
        border-radius: 50%;
        font-size: 1rem;
        width: 18px;
        height: 18px;
      }

      &.s-btn__menu--active {
        color: rgba(27, 117, 187, 1) !important;
        font-weight: 700;

        .s-btn__menu__icon {
          background-color: rgba(27, 117, 187, 1) !important;
        }
      }
    }
  }

  :deep(.s-item-group) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    gap: 10px;

    .v-field__input {
      border-radius: 0;
      padding: 0;
    }
    .v-select__selection {
      margin: 0;
    }
    .v-select__selection-text {
      font-size: 12px;
    }
    .v-field__append-inner i {
      display: none;
    }
    .v-menu .v-overlay__content {
      border-radius: 5px;
    }

    .s-sign__btn {
      display: inline-table;
      cursor: pointer;
      color: #fff;
      background: $s-btn__primary 0% 0% no-repeat padding-box;
      opacity: 1;
      padding: 6px 20px;
      text-align: center;
      padding: 0;
      width: 110px;
      height: 36px;

      border-radius: 5px;
      border: solid 1px #fff;
      font-size: 14px;
      font-weight: 500;

      line-height: 36px;
    }
  }
}

#side_menu_wrapper {
  --v-hover-opacity: 0;
  --v-activated-opacity: 0;
  --v-focus-opacity: 0;
  --v-theme-overlay-multiplier: 0;

  position: relative;
  height: calc(100vh - 150px);
  overflow-y: auto;
  @include scroll();
}
#side_menu_background {
  width: 420px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  height: 100%;
  background: $main-color;
  color: #fff;
  overflow: hidden;
  padding: 0 10px;
  .text-right {
    margin: 10px 0px 0px 0px;
  }
}

/**
 * 서비스 메뉴
 */
.menu-back-ground {
  position: fixed;
  width: 100%;
  z-index: 1006;
  background: rgba(0, 0, 0, 0.2);
  top: var(--global-nav-header-height);
  left: 0;

  &.hide {
    height: 0;
    margin: 0;
    transition: linear 0.2s;
  }

  &.show {
    height: calc(100% - var(--global-nav-header-height, 68px));
    transition: linear 0.2s;
  }

  .side-menu-btn {
    margin-top: 11px;
  }

  .side-menu-footer {
    position: relative;
    bottom: 0;
  }
}

#side_menu_wrapper,
.side-menu-footer {
  :deep(.side-menu) {
    position: relative;
    cursor: pointer;
    height: 52px;
    padding: 0 20px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 100px;
      opacity: 0;
      transition: linear 0.1s;
    }

    &:hover {
      &::before {
        opacity: 1;
        top: 6px;
        bottom: 6px;
      }
    }

    &.v-list-item {
      margin-top: 0 !important;
      font-weight: 400;

      .v-list-item-title {
        font-size: 16px;
        font-weight: 400;
      }

      &.v-list-item--active {
        color: $active-font-color;

        .v-list-item-title {
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }
}

.s-img--default_profile {
  background-image: url('/public/assets/images/profile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
