#s-menu-title-wrapper {
  color: #ffffff;
  margin-top: 20px;
  padding-right: 10px;
  min-height: 52px;
  line-height: 50px;
  width: 300px;
}
#s-menu-title-wrapper a {
  text-decoration: none;
}

#s-menu-title {
  background: $main-color;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 6px 20px;
  line-height: 40px;
}

#s-menu-wrapper {
  width: 300px;
  padding-right: 30px;
  padding-left: 30px;
  height: calc(100% - 68px); // s-menu-title-wrapper(72px) + s-navi padding-bottom(30px) + 여분(30px) 제외
  overflow-y: auto;
  padding-bottom: 30px;

  // project_select_wrapper가 있을 때 추가 높이 조정
  &.with-project-select {
    height: calc(100% - 138px); // s-menu-title-wrapper(72px) + project_select_wrapper(88px) + s-navi padding-bottom(30px) + 여분(30px) 제외
  }

  :deep(.v-list) {
    padding: 0;
    .v-list-item-title {
      text-transform: capitalize;
      @include set-text(300, 18, $s-default--gray-9);
    }

    .v-list-group__items {
      .v-list-item-title {
        text-transform: capitalize;
        @include set-text(300, 16, $s-default--gray-9);
      }
    }

    .v-list-item {
      .v-list-item__overlay {
        opacity: 0;
      }

      .navi-inner-menu-title {
        text-decoration: none;
        color: $s-default--gray-9;
        text-transform: capitalize;
      }

      &:has(.router-link-active) {
        color: $active-font-color;
        .router-link-active {
          color: $active-font-color;
          font-weight: 600;
          text-transform: capitalize;
        }
      }
    }

    .v-list-item .v-list-item__prepend .v-list-item__spacer {
      width: 0;
    }

    .v-list-group {
      margin-bottom: 10px;

      .v-list-item--density-default:not(.v-list-item--nav).v-list-group__header {
        --v-hover-opacity: 0;
        --v-activated-opacity: 0;
        --v-focus-opacity: 0;
        --v-theme-overlay-multiplier: 0;

        min-height: 64px;
        padding-inline: 0;
        padding-top: 24px;
        padding-bottom: 16px;
        margin: 0;

        .v-list-item__content .v-list-item-title {
          font-size: 18px;
        }
      }

      &:has(.router-link-active) {
        .v-list-group__header {
          color: $active-font-color;
          .v-list-item__content .v-list-item-title {
            color: $active-font-color;
            font-weight: 600;
          }
        }
      }

      .v-list-group__items .v-list-item {
        --v-theme-overlay-multiplier: 0;
        padding-inline: 5px !important;
        margin: 0;
        min-height: 40px;
        font-weight: 300;

        &:hover .v-list-item__overlay {
          opacity: 0.1;
          border-radius: 100px !important;
          background-color: $s-btn--blue-1;
        }
      }
    }
  }
}

// Side 영역
#project_select:deep(.v-select__selection-text) {
  @include set-text(400, 14, null);
}

#project_select_wrapper {
  width: 300px;
  height: 88px;

  .project_select {
    padding: 24px 31px;
  }
  &::after {
    content: '';
    display: block;
    width: 270px;
    height: 0;
    margin: 0 15px;
    border-top: 1px solid $s-default--gray-5;
    top: -1px;
    position: relative;
  }
}

#s-navi {
  position: fixed;
  top: 68px;
  height: calc(100% - 68px);
  border-right: 1px solid $s-default--gray-5;
  background-color: white;
  z-index: 1;
  padding-bottom: 30px;
}

.s-navi-inner-menu {
  padding-inline: 15px !important;
}
.s-navi-inner-menu.disabled .s-navi-inner-menu-title {
  //pointer-events: none;
  color: grey;
  cursor: not-allowed;
}

.s-navi-inner-menu-title {
  font-weight: 300;
  text-decoration: none;
  color: $s-default--gray-9;
  text-transform: capitalize;
}
.s-navi-inner-menu.active:hover .s-navi-inner-menu-title {
  color: $active-font-color;
  text-transform: capitalize;
}
