.s-modal {
  &[size="x-large"] {
    // width: 1450px;
    --s-modal-width: 1450px;
    --s-form-item-label-width: 170px;
    --s-text-field-min-width: 1068px;
    --s-text-select-min-width: 1068px;
    --s-text-field-max-width: 100%;
    --s-text-select-max-width: 100%;
  }

  &[size="large"] {
    // width: 1300px;
    --s-modal-width: 1300px;
    max-width: var(--s-modal-width);
    --s-form-item-label-width: 170px;
    --s-text-field-min-width: 918px;
    --s-text-select-min-width: 918px;
    --s-text-field-max-width: 100%;
    --s-text-select-max-width: 100%;
  }

  &[size="medium"] {
    // width: 1000px;
    --s-modal-width: 1000px;
    max-width: var(--s-modal-width);
    --s-form-item-label-width: 170px;
    --s-text-field-min-width: 618px;
    --s-text-select-min-width: 618px;
    --s-text-field-max-width: 100%;
    --s-text-select-max-width: 100%;
  }

  &[size="small"] {
    // width: 500px;
    --s-modal-width: 500px;
    --s-form-item-label-width: 120px;
    --s-text-field-min-width: 210px;
    --s-text-select-min-width: 210px;
    --s-text-field-max-width: 100%;
    --s-text-select-max-width: 100%;
  }

  &[size="x-small"] {
    // width: 460px;
    --s-modal-width: 460px;
    --s-form-item-label-width: 120px;
    --s-text-field-min-width: 210px;
    --s-text-select-min-width: 210px;
    --s-text-field-max-width: 100%;
    --s-text-select-max-width: 100%;
  }

  .s-modal__title {
    height: 48px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;

    &.s-modal__title--light {
      background-color: white;
      color: $s-primary;
    }
    &.s-modal__title--dark {
      background-color: $s-primary;
      color: white;
    }
  }

  .button-wrapper {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;

    .modal--cancel {
      background: transparent;
      padding: 0;
      min-width: 0;
      opacity: 0.6;
    }
  }

  // 전체 모달 Width 사이즈 관할
  .s-modal__content-wrapper {
    width: 100%;
  }

  .s-modal__content {
    padding: 20px 8px;
    max-height: calc(100vh - 60px - 30px - 48px - 60px); // 전체높이 - 상단여백 - 하단여백 - 헤더 - 푸터예상
    background-color: $s-base-background;
    width: 100%;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
    -webkit-overflow-scrolling: touch;
    @include scroll();
  }

  :deep(.s-modal__footer) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px 20px;
    background-color: $s-base-background;

    .s-btn {
      min-width: 110px;
      height: 36px;

      &:not(:first-child) { margin-left: 12px }
    }

    .s-modal__footer__positive {
      margin-right: 12px;
    }
  }

  :deep(.v-card) .v-card-item {
    display: flex;
    flex-direction: column;
    padding: 0;

    .v-card-item__prepend,
    .v-card-item__append,
    .v-card-item__content {
      padding-inline-start: 0;
      padding-inline-end: 0;
      width: 100%;
    }

    .v-card-item__content {
      overflow: visible;
      background-color: $s-base-background;
    }
    .v-card-item__append {
      background-color: $s-base-background;
    }
  }

  :deep(.v-overlay__content) {
    top: 60px !important;
    transform: translateY(0) !important;
    width: var(--s-modal-width);
    max-width: var(--s-modal-width);
    max-height: calc(100vh - 60px - 30px) !important; // 상단 여백 60px + 하단 여백 30px
    margin: 0;

    .v-card {
      width: 100%;
      overflow-y: hidden;
    }
  }

  // SModal 내부에서 SSubHeader 컴포넌트의 글씨 크기 조정
  :deep(.s-title-area) {
    .s-title-area__title {
      font-weight: 700;
      font-size: 14px;
      background: url('/public/assets/images/popuptitlebg.svg') no-repeat left center !important;

    }
  }
}
