.s-modal {
  &[size="x-large"] {
    // width: 1450px;
    --s-modal-width: 1450px;
    --s-form-item-label-width: 170px;
    --s-text-field-min-width: 1068px;
    --s-text-select-min-width: 1068px;
  }

  &[size="large"] {
    // width: 1300px;
    --s-modal-width: 1300px;
    max-width: var(--s-modal-width);
    --s-form-item-label-width: 170px;
    --s-text-field-min-width: 918px;
    --s-text-select-min-width: 918px;
  }

  &[size="medium"] {
    // width: 1000px;
    --s-modal-width: 1000px;
    max-width: var(--s-modal-width);
    --s-form-item-label-width: 170px;
    --s-text-field-min-width: 618px;
    --s-text-select-min-width: 618px;
  }

  &[size="small"] {
    // width: 500px;
    --s-modal-width: 500px;
    --s-form-item-label-width: 120px;
    --s-text-field-min-width: 270px;
    --s-text-select-min-width: 270px;
  }

  &[size="x-small"] {
    // width: 460px;
    --s-modal-width: 460px;
    --s-form-item-label-width: 120px;
    --s-text-field-min-width: 270px;
    --s-text-select-min-width: 270px;
  }

  .s-modal__title {
    height: 48px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;

    &.s-modal__title--light {
      background-color: white;
      color: $s-primary;
    }
    &.s-modal__title--dark {
      background-color: $s-primary;
      color: white;
    }
  }

  .button-wrapper {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;

    .modal--cancel {
      background: transparent;
      padding: 0;
      min-width: 0;
      opacity: 0.6;
    }
  }

  .s-modal__content {
    scrollbar-gutter: stable both-edges;
    padding: 20px 10px;
    max-height: calc(100vh - 175px);
    @include scroll();
    background-color: $s-base-background;
    -webkit-overflow-scrolling: touch;
    width: calc(var(--s-modal-width) - 48px);
  }
  .s-modal__footer {
    width: 100%;
    background-color: $s-base-background;
  }

  :deep(.v-card) .v-card-item {
    display: flex;
    flex-direction: column;
    padding: 0;

    .v-card-item__prepend,
    .v-card-item__append,
    .v-card-item__content {
      padding-inline-end: 0;
      width: 100%;
    }

    .v-card-item__content {
      overflow: auto;
    }
  }

  :deep(.v-overlay__content) {
    margin: 0;
    // width: var(--s-modal-width);
    max-width: inherit;

    .v-card {
      overflow-y: hidden;
    }
  }
}
