.s-data-table {
  border-radius: 0;

  :deep(th.v-data-table__th) {
    --v-table-header-height: 36px;
    font-weight: 600;
    font-size: toRem(14);
    background: #F7F9FA;

    .v-selection-control.v-checkbox-btn .v-icon--size-default {
      font-size: 1.3rem;
    }
  }

  :deep(td.v-data-table__td) {
    --v-border-color: 0, 0, 0;
    --v-table-row-height: 42px;
    font-size: toRem(14);
    font-weight: 400;

    .v-selection-control.v-checkbox-btn {
      &.v-selection-control--disabled {
        cursor: not-allowed;
      }
      .v-icon--size-default {
        font-size: 1.3rem;
      }
    }

    .v-chip__content {
      height: inherit;
    }
  }

  .status-chip {
    color: white;
    font-weight: 300;
  }

  .no-data {
    color: #ccc;
  }

  .s-data-table-column__text {
    width: inherit;
  }

  &.hide-footer {
    > :deep(.v-data-table-footer) {
      display: none !important;
    }
  }
  :deep(.v-btn:hover) > .v-btn__overlay {
    opacity: 0.1;
    // background: $active-font-color;
  }

  :deep(.v-btn--disabled).v-btn--variant-flat .v-btn__overlay {
    opacity: 1;
    background: transparent;
  }

  .s-data-table-pagination {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #333;
    margin-top: 60px;

    :deep(.v-pagination__item--is-active) {
      color: white;

      .v-btn--disabled {
        color: white;

        &.v-btn--variant-flat .v-btn__content {
          font-size: 12px;
          font-weight: 700;
          color: #fff;
        }
      }
    }
  }

  &.fixed-table :deep(table) {
    table-layout: fixed;

    .v-data-table__td {
      span {
        max-width: 100%;
        display: inline-block;
        word-break: break-all;
      }

      &:has(span + i) {
        span {
          max-width: calc(100% - 30px);
        }
      }
    }
  }

  .right-move {
    position: absolute;
    right: 0;
  }

  :deep(.v-table__wrapper) {
    border-top:solid 1px #000;
    border-bottom:solid 1px #ddd;

    .material-icons{
      color:#191919;
      font-size:14px;
      position: relative;
      top:-1px;
    }

    > table > tbody > tr > td,
    > table > tbody > tr > th,
    > table > thead > tr > td,
    > table > thead > tr > th,
    > table > tfoot > tr > td,
    > table > tfoot > tr > th {
      padding: 0 20px;
    }
  }
}
