.s-data-table {
  &.ag-theme-alpine {
    --ag-header-background-color: #F7F9FA;
    --ag-header-foreground-color: #333;
    --ag-header-height: 36px;
    --ag-row-height: 42px;
    --ag-border-color: #e0e0e0;
    --ag-header-cell-hover-background-color: rgba(27, 117, 187, 0.1);
    --ag-row-hover-color: rgba(27, 117, 187, 0.1);
    --ag-font-size: 14px;
    --ag-font-family: inherit;

    .ag-header-cell {
      font-weight: 600;
      font-size: 14px;
      border-right: 1px solid #e0e0e0;

      &:last-child {
        border-right: none;
      }
    }

    .ag-cell {
      font-size: 14px;
      font-weight: 400;
      border-right: 1px solid #e0e0e0;
      padding: 0 20px;
      display: flex;
      align-items: center;

      &:last-child {
        border-right: none;
      }
    }

    .ag-row {
      &:hover {
        background-color: rgba(27, 117, 187, 0.1);
      }
    }

    &.no-vertical-lines {
      .ag-header-cell,
      .ag-cell {
        border-right: none;
      }
    }

    .no-data {
      color: #ccc;
      padding: 20px;
    }
  }
}
