/* 
.portal_layout *{letter-spacing: -.5px; font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;}
.portal_layout .v-application{letter-spacing: -.5px;font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;} */
.portal_layout .material-icons{font-family: 'Material Icons' !important;}
.portal_layout .material-icons-outlined, .portal_layout .material-icons{font-family:"Material Icons Outlined" !important;}
.portal_layout .s-item-group .button-wrapper .s-global-select .v-field{padding:0}
.portal_layout .s-item-group  .sp-select{border-radius: 0; margin-right:10px;}
.portal_layout .s-item-group .v-field__append-inner i{display: none;}
.portal_layout .s-item-group .v-field__input{border-radius: 0; padding:0; }
.portal_layout .s-item-group  .v-select__selection-text{font-size:12px}
.portal_layout .s-item-group .s-user-name i{display:none;}
.portal_layout .s-item-group .s-user-name { background: url('/devops/assets/images/expand_more.svg') no-repeat right center; padding-right: 25px;}
.portal_layout .s-item-group .s-global-select .v-field, .s-avater .s-user-name{ background: url('/devops/assets/images/expand_more.svg') no-repeat right center; padding-right: 25px;}
.nav-my-row .s-user-name .s-user-name__text{font-size:14px;}
.portal_layout .v-avatar{background: url('/devops/assets/images/profile.svg') no-repeat
  left center; width:32px !important; height:32px !important;
padding: 2px; border-radius:50%;}
.portal_layout .base-layout{padding-top:0; width: 100%; padding: 0px 30px 0 30px;}
.portal_layout .v-avatar > .v-responsive{ border-radius:50%;}
.portal_layout .s-item-group .v-select__selection{margin:0}
.portal_layout .s-item-group .topMenulist{width:100px}
.portal_layout .s-item-group .v-menu .v-overlay__content{border-radius:5px;}
.portal_layout .v-list-item {margin:0 5px;}
.portal_layout .v-list:not(.navi-menu) .v-list-item > .v-list-item__overlay { background: #1297f2; border-radius:99px;}
.portal_layout .v-list:not(.navi-menu) .v-list-item--active > .v-list-item__overlay,
.portal_layout .v-list:not(.navi-menu) .v-list-item:hover > .v-list-item__overlay{opacity: .3;}
.portal_layout .sp-select__item .v-list-item--density-default.v-list-item--one-line{min-height:30px}
.v-list-item--density-default.v-list-item--one-line{padding:0;padding-top: 0;padding-bottom: 0;}
/* 서브메뉴 */
.portal_layout .sp-admin-drawer-menu .body-wrapper .left-wrapper .image-wrapper .bottom-title-wrapper{position: relative;}
.portal_layout .sp-admin-drawer-menu .body-wrapper .left-wrapper .image-wrapper .bottom-title-wrapper.submenu:after{content: ""; display: block; width:24px; height:24px; position: absolute; right:30px; top:13px;background: url('/devops/assets/images/menu_icon_off.svg') no-repeat;}
.portal_layout .sp-admin-drawer-menu .body-wrapper .left-wrapper .image-wrapper .bottom-title-wrapper.submenu .material-icons{display: none;}
.portal_layout .sp-admin-drawer-menu .body-wrapper .left-wrapper .image-wrapper .submenu + .bottom-sub-title{margin:0px 30px; }
.portal_layout .sp-admin-drawer-menu .body-wrapper .left-wrapper .image-wrapper .bottom-sub-title .sub-title-wrapper{font-size:16px;border-radius:20px; margin:8px 0;}
.portal_layout .sp-admin-drawer-menu .body-wrapper .left-wrapper .image-wrapper .submenu + .bottom-sub-title .sub-title-wrapper.active,
.portal_layout .sp-admin-drawer-menu .body-wrapper .left-wrapper .image-wrapper .submenu + .bottom-sub-title .sub-title-wrapper:hover{height:40px; font-size:16px; color:#1297F2; }
.portal_layout .sp-admin-drawer-menu .body-wrapper .left-wrapper .image-wrapper .bottom-sub-title .sub-title-wrapper .link-wrapper{padding:8px 0 8px 24px}
.portal_layout .sp-admin-drawer-menu .body-wrapper .left-wrapper .image-wrapper .bottom-sub-title .sub-title-wrapper::after{left:13px; top:18px; width:4px; height:4px; border-radius:50%; background-color: #333;}
.portal_layout .sp-admin-drawer-menu .body-wrapper .left-wrapper .image-wrapper .submenu + .bottom-sub-title .sub-title-wrapper.active:after,
.portal_layout .sp-admin-drawer-menu .body-wrapper .left-wrapper .image-wrapper .submenu + .bottom-sub-title .sub-title-wrapper:hover:after{background-color: #1297F2;}

.portal_layout .v-list-item + .v-list-item { margin-top: 5px;}
.portal_layout .v-menu .v-overlay__content > .v-list{padding:5px 0; border: solid 1px #1297F2;}

.portal_layout .s-select .v-list-item-title{font-size:12px; color:#333; font-weight: 500 !important;}
.portal_layout .s-select .v-list-item:hover .v-list-item-title,
.portal_layout .v-list-item--active .v-list-item-title{color:#1297f2; font-weight:500; }
.portal_layout .v-navigation-drawer{box-shadow: 0 0 0 !important; border-right:solid 1px #DCDCDC !important;}
.portal_layout .sp-full-menu__menu{padding-top:10px !important}

.portal_layout .search-box .v-field__outline__start,
.portal_layout .search-box .v-field__outline__end{border-color:#fff}
.portal_layout .sp-text-field .v-input__control{height:30px !important; min-height:30px !important;  border:solid 1px #ddd; border-radius:5px;}
.portal_layout .v-label.v-field-label{top: 7px; font-size: 12px; padding-left: 0;left: 0;margin: 0;}
.portal_layout .v-select .v-label.v-field-label{top: 11px;}
.portal_layout .sp-text-field .v-input__control .v-field .v-icon{opacity: 1; color:#000}
/* .portal_layout  .v-field__append-inner{position: absolute;left:-260px;top:-2px; width:20px; margin-right:20px;}
.portal_layout .v-field__clearable .v-icon{top:-4px;right:6px;} */

.s-title-area{width:100%; height: 53px; padding:10px 0 12px 0; margin-top: 9px; margin-bottom: 10px;}
.s-title-area .s-title-area__title{background: url('/devops/assets/images/title_bg.svg') no-repeat left center; padding-left:34px; font-size:18px; color:#1C2536; font-weight: 700;}
.s-title-area__content{display:flex; justify-content: space-between; align-items: center;}
.portal_layout .sp-button.v-btn.button__line{border:solid 1px#1297f2;border-radius:5px !important; color:#1297f2; font-size:14px;min-width:110px; font-weight:700 !important}
.portal_layout .sp-button.v-btn.button__line:hover{background:#F0F7FF}
.portal_layout .sp-button.v-btn.button__line.v-btn--disabled{border-color:#eee; color:#ccc; font-size:14px; opacity: 1; background-color:#fff;}
.portal_layout .sp-button.v-btn.button__line + .button__line{margin-left:10px;}
.portal_layout  .v-row{margin:0}
.portal_layout .search-box-text{padding:0 !important; flex:1; height: 40px; width: 350px;}
.portal_layout .v-col{padding:12px 0}
.portal_layout .v-row + .v-row{margin-top:0}
.portal_layout .v-row{margin:0;}
.portal_layout .search-box { width: 650px;}

.portal_layout .search-box .v-field__clearable .v-icon { right: -9px; top: 2px;}
.portal_layout .search-box .v-label.v-field-label { top: 11px;}
.portal_layout .userlist .sp-text-field .v-input__control .v-field .v-field__input { min-height: 38px;}
.portal_layout .userlist .sp-text-field .v-input__control {height: 40px !important; }
.portal_layout .userlist .search-box-text .card-top-text{padding:0; font-size:12px; text-align: right; color:#191919;}
.portal_layout .userlist .search-box-text .card-top-text .resource-number{font-size:12px; }
.portal_layout .userlist .search-box-text > div:nth-of-type(1){align-items: center;}
.portal_layout .v-dialog .v-overlay__content > .v-card{border-radius: 10px; padding:0 !important;}
.portal_layout .sp-card .card-header.dark-header{padding:0 !important; font-size:16px; font-weight:700;}
.portal_layout .sp-card .card-header .label-wrapper{padding: 0 20px !important; height: 48px;}

.portal_layout  .v-overlay__content .v-field--variant-outlined .v-field__outline .v-field__outline__start,
.portal_layout  .v-overlay__content .v-field--variant-outlined .v-field__outline .v-field__outline__end{display:none}
.portal_layout  .sp-data-table .v-field--variant-outlined .v-field__outline .v-field__outline__start,
.portal_layout  .sp-data-table .v-field--variant-outlined .v-field__outline .v-field__outline__end{display: inline-block}

/* 등록폼 */
.sp_table_form{border-top:solid 2px #000}
.half_box{display: flex;width:100%}
.half_box > div{width:50%}
.form_line{border-bottom:solid 1px #eee; min-height:66px; display:flex}
.form_label{background:#F7F9FA; flex:0 0 170px; display: flex; align-items: center;padding-left:20px;}
.form_label .required{color: red; margin-left:3px; position: relative; top:-2px;}
.form_label > span{font-size:12px; color:#333; font-weight:700;}
.form_content{display: flex; align-items: center; padding:0px 20px; font-size:12px; color:#333;}
.form_content .sp-text-field .v-input__control .v-field{padding:0 8px 0 8px !important; min-width:450px;}
.half_box .form_content .sp-text-field .v-input__control .v-field,
.form_line.half_input .form_content .sp-text-field .v-input__control .v-field,
.sm .form_content .sp-text-field .v-input__control .v-field,
.sm .form_content .v-textarea .v-field--no-label textarea,
.half_box .form_content .v-textarea .v-field--no-label textarea{min-width:250px;}

.invite .form_line.half_input .form_content .sp-text-field .v-input__control .v-field,
.sm .invite .form_content .sp-text-field .v-input__control .v-field,
.sm .invite .form_content .v-textarea .v-field--no-label textarea,
.invite  .half_box .form_content .v-textarea .v-field--no-label textarea{min-width:320px;}

.form_content .v-textarea .v-field--no-label textarea{margin: 20px 0; border:solid 1px #ddd;mask-image:none; min-width:450px; border-radius:5px;}
.form_content .sp-text-area .v-input__control .v-field{padding-left:0}
.form_content .v-input__details{padding:0 !important; top: -2px; position: relative;  font-size: 11px !important;min-height: 20px;}
.form_content .white_select .sp__content{margin:0 !important}
.portal_layout .v-table__wrapper .material-icons{color:#191919; font-size:14px; position: relative; top:-1px}
.portal_layout .v-table__wrapper .v-data-table__th {background:#F7F9FA;}
.portal_layout .v-table__wrapper {border-top:solid 1px #000; border-bottom:solid 1px #ddd}
.form_content .sp-text-field.v-input--error .v-input__control {border:solid 1px #B80303;}
.form_content .member-item .v-chip{margin-top:2px;}
.form_content .sp-select .v-field{border: solid 1px #ddd;border-radius: 5px;padding: 0 8px; height: 30px;}
.form_content .sp-select .v-field .v-field__input{min-height: 30px !important; padding:0; line-height:28px; min-width:250px}
.form_content .sp-select .v-field__append-inner{padding-top:3px}
.form_content .sp-select.v-select--active-menu .v-field{border-color:#1297f2}
.form_content .sp-select .v-field.v-field--error {border:solid 1px #B80303;}
.form_content .userAvatar {height: 156px;}
.form_content .userAvatar .sp__content{margin-bottom:4px !important; width:80% !important;}
.form_line.productRole .sp__content{width:100%  !important}
.form_line.productRole .product-role-wrapper{margin-left:20px}
.product-role-wrapper .v-chip__underlay{display:none}
.product-role__selected .v-chip__underlay{display:none}
.form_line.productRole .product-role-wrapper .product-role-title{width:100% !important; font-size:12px; color:#121821; padding: 0 0 0px 16px; position: relative; margin-top:10px; display: block;}
.form_line.productRole .product-role-wrapper .product-role-title:after{content:''; display: block;width:3px; height:3px; border-radius:50%;position: absolute; left:5px; top:8px; background-color: #121821;}
.product-role-wrapper .role_edit, .product-role__selected .role_edit{min-width:45px !important; height:24px !important; padding:8px 15px!important; font-size:12px !important;background: #EAF3F9 !important; margin-bottom:5px;}
.product-role-wrapper .product-role-content{display: flex; margin-top:10px;}
.product-role-wrapper .product-role-content li +li{margin-left:5px;}
.product-role-wrapper .product-role-content li {list-style: none;}
.product-role-wrapper .product-role-content li p{min-width:45px !important; height:24px !important; padding:8px 10px!important; font-size:12px !important;background: #EAF3F9 !important; margin-bottom:5px; border-radius:99px;line-height:9px;;}
.role_edit .mdi-close-circle::before{color:#1B75BB}
.role_edit + .role_edit{margin-left:5px;}
.form_line.productRole .form_content{flex:1 1 auto}
.form_line.productRole .form_content .contentStyle{width:100%;}
.profile_box{width:100%; margin:10px -30px 20px -30px; background:#F7F9FA; width:calc(100% + 60px); padding:30px 0;display: flex; align-items: center;justify-content:center}
.profile_box .image-wrapper{}
.portal_layout  .image-wrapper .v-avatar{width:80px !important; height:80px !important;background-size: 80px; margin:0 auto;}
.profile_box .image-wrapper .editMode{}
.profile_box .image-wrapper .editMode .sp__label{}
.profile_box .image-wrapper .editMode .sp__content{width:160px;}
.profile_box .image-wrapper .editMode .button__file{width:160px; height:30px; background: #1C2536; color:#fff; font-size:12px;font-weight:500; border-radius:5px; box-shadow: none;}
.profile_box .image-wrapper .editMode .guide_text .v-input__details{display: block; margin-top:5px; font-size:10px;text-align: center;padding-top:0}
.profile_box .image-wrapper .editMode .guide_text {text-align: center;}
.profile_box .image-wrapper .editMode .guide_text .v-chip{margin-top:5px;}
.button-wrapper__management + .v-chip,
.button-wrapper__management + .member-item,
.button-wrapper__management + span{margin-left:10px}
.button-wrapper .sp__label{width:40px !important; line-height:30px;}

.s-title-area .button-wrapper .sp-select .v-field .v-field__input{min-height: 30px !important; padding:0; line-height:28px; min-width:250px}
.s-title-area .button-wrapper .sp-select .v-field{border: solid 1px #ddd;border-radius: 5px;padding: 0 5px; height: 30px;}
.s-title-area .button-wrapper .sp-select .v-field__append-inner{padding-top:3px}
.s-title-area .button-wrapper .sp-select.v-select--active-menu .v-field{border-color:#1297f2 !important}
.s-title-area .button-wrapper .sp-select.v-select--active-menu .v-field__outline{display: none;}
.sp_popup_title{display: block; margin-bottom:10px; padding-left:29px; font-size:14px;font-weight:700;color:#000;    padding: 0;border: none; }
.sp_popup_title + .hiddenlabel > label{display: none !important;}
.s-title-area.sp_popup_title .s-title-area__title{background: url('/devops/assets/images/popuptitlebg.svg') no-repeat left center ; padding-left:22px; background-size:16px;  font-size:14px;}
.sp_popup_layout{margin:20px 30px;}
.sp_popup_btnwrap{padding: 0 30px 15px;}
.sp_popup_btnwrap .button__line + .button__apply{margin-left:10px}

.portal_layout .mdi-checkbox-marked::before{color: #1297f2 ;}
.sp-popup-table .search-box .v-field__append-inner{padding-top:4px;}
.sp-popup-table .search-box .v-label.v-field-label{top:7px;}
.portal_layout .sp-text-field.v-input--readonly .v-input__control > .v-field{background-color: #F7F9FA !important; }
.portal_layout .sp-confirm-modal.v-dialog .v-overlay__content > .v-card{border-radius:5px;}
.portal_layout .sp-confirm-modal.v-dialog  .v-col{padding:0;}
.portal_layout .sp-confirm-modal .confirm-modal__title{margin-bottom:32px; min-height:1px; color:#333; font-size:14px;}
.portal_layout .sp-confirm-modal .v-row{align-items: center;}
.portal_layout .icon.sp-text-field .v-input__control{background: url('/devops/assets/images/searchicon.svg') no-repeat 8px center ; }
.portal_layout .icon.sp-text-field .v-input__control .v-field {padding-left:30px !important }

.portal_layout .icon.sp-text-field .v-input__control .v-field__append-inner{display: none;}
.portal_layout .sp-text-field .v-input__control .v-field .v-field__input{padding:0; min-height:30px}
.portal_layout .menuPolicy .form_content .sp-label-with-text .sp__label{display: none;}

.portal_layout .sp-admin-drawer-menu .dashboard__header{margin-bottom:0; padding-right:10px; background-color:#fff;}
.portal_layout .sp-admin-drawer-menu .dashboard__header .dashboard__header--item{margin-top:20px; height:52px;  background-color:#1C2536; border-radius: 0 10px 10px 0; padding-left:20px}
.portal_layout .sp-recommended-product{padding-top:20px;}
.portal_layout .menuPolicy .form_content  .help__text,
.portal_layout .ForecastOptions .form_content  .help__text,
.portal_layout .sp-recommended-product .form_content  .help__text{padding:5px 0 8px 0px}
.portal_layout .ForecastOptions .form_content .sp-label-with-text .sp__label{display: none;}
.portal_layout .sp-recommended-product .form_content{padding-top:8px}
.portal_layout .sp-recommended-product .form_content .sp-text-field .v-input__control .v-field .v-field__input {padding-top:0}
.portal_layout .sp-recommended-product .form_content .sp-text-field .v-input__control .v-field{min-width:600px;}
.portal_layout .sp-recommended-product .form_content .select-group .sp-text-field .v-input__control .v-field{min-width:294px}
.portal_layout .sp-recommended-product .form_content .select-group > div:nth-of-type(1){margin-right: 10px;}
.portal_layout .sp-recommended-product .form_content .sp-text-field .v-input__control .v-field .v-field__input{min-height:30px;}
.portal_layout .sp-recommended-product .form_content .sp-select .v-field__append-inner{padding-top:3px}
.portal_layout .btn_refresh{width:16px; height:16px; background: url('/devops/assets/images/change_circle.svg') no-repeat center center ;}

.search{display: flex; justify-content: space-between; align-items: center; margin-bottom:12px;}
.search .search__text-field{max-width: 600px;}
.v-input__control:has(.v-field--variant-outlined){border: 1px solid #DDD; border-radius: 5px;}
.v-input__control:has(.v-field--variant-outlined) .v-field__outline {display: none;}

.invoice_wrap{padding-top:17px}
.sp_arrow_btn{width:38px; height:40px; display:inline-block; background: url('/devops/assets/images/icon_btarrow.svg') no-repeat left center/100%; position: relative; }
.sp_arrow_btn.right{background: url('/devops/assets/images/icon_btarrow_r.svg') no-repeat left center/100%; }
.sp_arrow_btn.disabled{opacity: .5;}
.bill-month-container .sp_arrow_btn{top:19px}
.bill-month-container{text-align: center;}
.bill-selected-month{font-size:48px; color:#191919; font-weight:700; padding:0 30px;vertical-align: middle;}
.month_label{display: inline-block; font-size:22px; padding-left:20px; font-weight: 700;vertical-align: middle;}
.button__buleline{min-width: 110px; height:36px; background: #fff; border:solid 1px #1297F2; border-radius:5px; font-size:14px; text-align: center; color: #1297f2 !important; margin-right:10px;}
.button__buleline:hover{background: #F0F7FF;}
.button__buleline:disabled{border-color:#eee; color:#ccc !important;}
.bill-month-selector{position: relative; padding-bottom:56px}
.bill-month-button-group{position: absolute; right:0; top:0; display:flex;}
.bill-month-button-group .bill-month-calendar > div:not(.dp__outer_menu_wrap) .dp__pointer{border:solid 1px #ddd; width:130px; border-radius:5px; color:#333; font-size:14px;  background: url('/devops/assets/images/icon_month.svg') no-repeat 5px 7px;}
.bill-month-button-group .bill-month-calendar > div:not(.dp__outer_menu_wrap) .dp__input_icon_pad{padding-left:27px}
.bill-month-button-group .bill-month-calendar > div:not(.dp__outer_menu_wrap) svg{display: none;}

.bill-slide{ width:100%; position: relative; padding:0px 53px; overflow: hidden;}
.bill-slide .sp_arrow_btn{width:53px; background-size: 38px; position: absolute;top:36px;}
.bill-slide .sp_arrow_btn.left{left:0;}
.bill-slide .sp_arrow_btn.right{right:-13px;}
.bill-slide-row{display: flex; align-items: center; flex:1;}
.bill-slide-body{width:110px; height:110px;box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.16);flex-shrink: 0; flex-grow:1; border-radius:5px; margin-right:15px}
.bill-slide-body .v-card{height:100%;padding:0px 10px 10px 10px; border-radius:5px;}
.slider_wrap{width:100%; overflow: hidden; padding:0px 0 30px 0}
.slide_con{height:100%; display:flex;flex-direction: column; justify-content:space-between;}
.slide_con .cost-part{height:29px; width:100%;border:solid 1px #ddd;line-height:28px; text-align: right; border-radius:3px; padding-right:10px; flex-basis: 29px; flex-shrink: 0; background:#fff}
.slide_con .cost-part> span{display: inline-block;color:#666; font-size:14px; font-weight:700;}
.slide_con .cost-part> span.cost-mark{margin-right:5px;font-size:10px; font-weight:500;}
.slide_con .slide-date{flex:1; background: url('/devops/assets/images/icon_chart_bg.svg') no-repeat right bottom; margin-bottom:7px; position: relative;}
.slide_con .slide-date .slide-month{font-size:28px; color:#333; font-weight:700;    line-height: 45px; letter-spacing: -1px;}
.slide_con .slide-date .slide-year{font-size:10px; color:#999; position: absolute; right:0; top:9px}
.bill-slide-body .v-card.active, .bill-slide-body .v-card.active:hover{background: linear-gradient(270deg, #D483EC 0%, #717CFC 100%);}
.bill-slide-body .v-card.active .slide_con .slide-date{flex:1; background: url('/devops/assets/images/icon_chart_on.svg') no-repeat right bottom;}
.bill-slide-body .v-card.active .slide_con .slide-date .slide-month,.bill-slide-body .v-card.active .slide_con .slide-date .slide-year{color:#fff}
.slider_wrap .v-card--variant-elevated{box-shadow: none;  border:none;}
.slider_wrap .v-card--variant-elevated:hover{}
.slider_wrap .v-card:hover > .v-card__overlay {display: none;}

.bill-table .sp-card{box-shadow: none;}
.sp_bg_box{background:#1C2536; border-radius: 10px; padding:10px 13px;}
.bill_title_wrap{display: flex;justify-content: space-between;}
.bill_title{padding-left:25px;font-size:18px;font-weight: 700;color:#1C2536; background: url('/devops/assets/images/icon_title_price.svg') no-repeat left 5px;}
.bill_title.white{color:#fff; background: url('/devops/assets/images/icon_title_price_w.svg') no-repeat  left 5px;}
.totalCost_title{font-size: 36px; color:#fff; font-weight:700; text-align: right; padding-right:50px;}
.totalCost_title > span{display:inline-block}
.totalCost_title > span:nth-of-type(1){margin-right:10px;}
.invoice_card_box{margin:30px 20px 20px 20px; padding:20px 30px;background: rgba(255,255,255, .1); border-radius:10px;}
.total_cost_box{border-top:solid 1px #666; padding:20px 0 0 0;}
.label_cost{display: flex; margin-bottom:20px; align-items: center;}
.label_cost *{color:#fff; font-weight:700;}
.label_cost .label_type{flex:1.8; font-size:16px; text-align: center;}
.label_cost .cost_usdbox{display: flex;}
.label_cost .label-cost-flag, .label_cost .cost_usd{flex:1}
.label_cost .label-cost-flag{font-size:14px;}
.label_cost .cost_usdbox, .label_cost .cost_krw{flex:1; font-size:18px;text-align: right;}
.label_cost .cost_krw, .label_cost .cost_usdbox .cost_usd{padding-right:20px;}
.total_cost_box .label_cost *{font-size:36px}
.total_cost_box .label_cost{margin-bottom:0;}
.total_cost_box .label_cost .label_type{font-size:22px}
.bill_cloud_card{ border-radius: 10px; padding:10px 13px; background: #fff; border:solid 1px #ddd; margin-top:15px}
.btn_title_box{position: relative;}
.btn_title_box .button__buleline{position:absolute; right:0; top:0;height:30px; font-size:12px; margin-right:0}
.bill_cloud_card .sp-data-table{margin-top:13px; border-top:solid 1px #000}
.bill_cloud_card .sp-data-table th{height:40px !important; font-weight:700 !important;  font-size:12px; background:#F7F9FA !important; border-bottom:solid 1px #ddd; color:#333 !important}
.bill_cloud_card .sp-data-table td{height:40px !important; font-weight:500 !important;  font-size:12px;  border-bottom:solid 1px #ddd; color:#333 !important}
.bill_cloud_card .v-expansion-panel-text__wrapper{padding:0}
.bill-card-footer{margin:20px 0 5px;height:50px;border-radius:5px; background: #1C2536; display: flex; align-items: center;}
.bill-card-footer > div{flex:1; text-align: right; font-size:22px; font-weight:700; color:#fff; padding-right:20px}
.bill-card-footer > div:nth-of-type(1){text-align: center; padding-right:0px}
.bill-card-footer .label_text{font-size:18px; font-weight:700;}
.csp-billing-detail  .v-expansion-panel__shadow{box-shadow: none;}
.csp-billing-detail .v-expansion-panel-title{padding:0; height:auto; min-height:1px !important;}
.csp-billing-detail .v-expansion-panel-title__overlay{display: none;}
.csp-billing-detail  .label_cost *{color:#333; font-size:16px; font-weight:700;}
.panel_top{width:100%; color:#333; height:50px;border-radius:5px; background:#F2F2F2; display: flex; align-items: center;}
.panel_top > .panelbox{flex:3; text-align: center;font-weight: 700;}
.panel_top > div:not(.pannel_label){text-align: right; padding-right:20px;font-size:22px;}
.panel_top > .panelbox.pannel_label{flex:1;font-size:16px;}
.label_linecost{height:50px; border-bottom:solid 1px #f6f6f6; display: flex; line-height:50px;}
.label_linecost .label_type, .label_linecost .label_cost_text{flex:2; font-size:16px; font-weight:700;color:#333;}
.label_linecost .label_type{text-align: center;}
.label_linecost .label_cost_flag{flex:2; }
.label_linecost .label_cost_flag, .label_linecost .label_cost_text{text-align: right;}
.label_linecost .label_cost_text{padding-right:20px;display:flex;}
.label_linecost .label_cost_text > span{flex:1; text-align: right;}
.label_linecost .label_cost_text .detail-usd-txt{padding-left:20px}
.bill_cloud_card .last_cost_type.dash{padding:0 10px;}
.portal_layout .v-data-table-footer__items-per-page > span, .portal_layout .v-data-table-footer__info{font-size: 12px;color:#000}
.portal_layout .v-data-table-footer__items-per-page > span,
.portal_layout .v-data-table-footer__items-per-page{ padding-right:4px;}
.portal_layout .v-data-table-footer__items-per-page .v-input--density-compact,
.portal_layout .v-data-table-footer__items-per-page .v-field__input{height:30px;min-height:30px;}
.portal_layout .v-data-table-footer__items-per-page .v-field__input{line-height: 30px; font-size: 12px; padding:0 0 0 5px;;}
.portal_layout .v-data-table-footer__items-per-page .v-select .v-field .v-field__append-inner > .v-icon{    position: absolute;right: 0;top: 4px;opacity: 1;}
.portal_layout .v-data-table-footer__items-per-page .v-input__control{ border:solid 1px #ddd; border-radius: 5px; min-width:80px; position: relative;}
.portal_layout .v-data-table-footer__items-per-page .v-field__outline{display: none;}
.portal_layout .v-data-table-footer__items-per-page .v-field--variant-outlined .v-field__outline{display:none}
.v-select__content .v-list-item--density-default.v-list-item--one-line{padding:0; min-height:18px;}
.btn_setting{min-width:120px; height:30px;padding:0 10px;background: #F6F6F6 !important; border-radius:99px;}
.btn_setting > span:after{content:""; display: block; width:24px; height:24px; position: absolute; right:0; top:2px; background: url('/devops/assets/images/pen_icon.svg') no-repeat;}
.btn_setting > span{display:inline-block; line-height:30px;color:#036EB8 !important; font-size:16px; font-weight:700;position: relative; padding-right:26px;;}
.organization_text{display: inline-block; margin-left:5px; font-size:12px; color:#121821;}

.role_wrap{width:100%; display: flex;padding:20px 0;}
.role_wrap .role_card{width:50%; }
.role_wrap .role_card:nth-of-type(odd){padding-right:15px; }
.role_wrap .role_card:nth-of-type(even){padding-left:15px; }
.role_wrap.addBtn .role_card{width:auto; flex:1 1 auto;padding:0px; }
.role_wrap.addBtn .role_buttons{flex:0 0 150px;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.role_wrap.addBtn .role_buttons > button,
.role_wrap.addBtn .role_buttons > .button__line{min-width: 100px; width: 100px; flex-shrink:0; }
.role_wrap.addBtn .role_buttons > .button__line{margin-bottom:10px;}
.title_box{width:100%; display:flex; align-items: center; border-bottom:solid 1px #eee; padding:20px 10px 20px 30px;}
.title_setting{font-size:18px; width:100%; font-weight: 700; color:#333; padding-left:20px; background: url('/devops/assets/images/title_setting.svg') no-repeat left 4px/16px;}
.menu-policy{padding-top:12px;}
.role_selectBox .share_select{display:flex}
.role_selectBox .share_select .sp-label-with-text+.sp-label-with-text{margin-left:30px}
.role_selectBox .sp__label{margin-bottom:10px;}
.role_selectBox  .select-wrapper{width:300px;}
.setting_btn_box{display: flex; align-items: center;}
.setting_btn_box > button{box-shadow: none;}
.setting_btn_box > button:hover{box-shadow: none;}
.setting_btn_box > .button__redline{margin-right:10px;}
.v-btn.button__redline, .button__redline{min-width: 110px;height:30px; line-height:28px;padding: 0px 23px;border-radius: 5px; border:solid 1px #B80303; font-size:14px; color:#B80303 !important; font-weight:700}
.v-btn.button__redline:hover, .button__redline:hover{background: #fff3f3;}
.v-btn.button__redline:disabled, .button__redline:disabled{background: #fff; color:#ccc !important; border:solid 1px #eee; opacity: 1;}
.card_shadow{box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.16); border-radius:5px; height:100%;}
.card_shadow .v-list{padding:15px 10px 15px 15px;}
.card_shadow .v-list .v-list-item{min-height: 1px !important; padding:5px 0 5px 30px !important;margin:0px; position: relative;}
/* .card_shadow .v-list .v-list-item:after{display:block; content: ""; width:24px; height:24px; background:url('/devops/assets/images/icon_check_off.svg') no-repeat left top/24px; position: absolute; left:0;top:5px} */
.card_shadow .v-list .v-list-item.v-list-item--active:after{background:url('/devops/assets/images/icon_check_on.svg') no-repeat left top/24px; }
.card_shadow .v-list .v-list-item .v-list-item__overlay,
.card_shadow .v-list .v-list-item .v-list-item__append,
.card_shadow .v-list .v-list-item .v-list-item__prepend,
.card_shadow .v-list .v-list-item .v-ripple__container,
.select-wrapper .v-field__outline,
.select-wrapper .v-field__append-inner{display:none}
.card_shadow .v-list .v-list-item + .v-list-item{margin:0px}
.card_shadow .v-list .v-list-item .v-list-item__content{font-size:14px; color:#333; font-weight:700;}
.card_shadow .v-list .v-list-item.v-list-item--active .v-list-item__content{font-size:14px; color:#1297F2; font-weight:700;}

.select-wrapper .v-input__control{border:solid 1px #eee;border-radius:5px;position: relative;}
.select-wrapper .v-input__control:after{content:""; display:block; width:24px; height:24px; position: absolute; right:12px; top:10px;background:url('/devops/assets/images/menu_icon_off.svg') no-repeat left top/24px; }
.select-wrapper .v-select--active-menu .v-input__control:after{background:url('/devops/assets/images/menu_icon_on.svg') no-repeat left top/24px;}
.select-wrapper .v-select--active-menu .v-input__control{border-color: #1297F2;}
.no-select-msg{text-align: center;width: 100%;padding: 40px;font-size: 15px;font-weight: 700; color:#B80303}
.rol_dec{margin-bottom:30px;}

.menu_item_list{display: flex;width: 100%;align-items: flex-start;justify-content: space-between;}
.menu_item_list .v-list-item-title{flex:1;}
.menu_item_list .v-input{flex-basis: 100px;flex-shrink: 0;flex-grow: 0;display: flex;}
.menu_item_list .v-selection-control-group{flex-direction: row; padding-right:10px; position: relative; top:-10px;}
.menu_item_list .v-selection-control--density-default{margin-right:30px;}
.menu_item_list .v-selection-control--density-default label{font-size:14px; font-weight:700;color:#333}
.menu_item_list .v-selection-control-group--inline{flex-wrap: nowrap;}
.menu_item_list .v-selection-control-group .v-selection-control--dirty i{color:#1297F2}
.menu_item_list .v-selection-control-group .v-selection-control--dirty.v-selection-control--disabled i,
.menu_item_list .v-selection-control-group .v-selection-control--disabled i{color:#ccc; opacity: 1;}
.card_shadow .v-list .treeIcon .v-list-item:after{display:block; content: ""; width:24px; height:24px; background:url('/devops/assets/images/icon_p.svg') no-repeat left top/24px; position: absolute; left:0;top:5px}
.card_shadow .v-list .treeIcon .v-list-item.v-list-item--active:after{display:block; content: ""; width:24px; height:24px; background:url('/devops/assets/images/icon_m.svg') no-repeat left top/24px; position: absolute; left:0;top:5px}
.card_shadow .v-list .treeIcon .v-list-item.v-list-item--active .v-list-item-title{color: #1297F2 !important;font-weight: 700 !important;}
.card_shadow .subtree{padding-left:30px}
.card_shadow .v-list .treeIcon .subtree .v-list-item{padding:0px 0 0px 10px !important}
.card_shadow .v-list .treeIcon .subtree .v-list-item:after{display:block; content: ""; width:3px; height:3px; background:#000; position: absolute; left:0;top:9px; border-radius:50%;}
.card_shadow .list_icon_none .v-list .v-list-item:after{display: none;}
.cost_dashbordbox{background:rgba(217, 217, 217, 0.3); border-radius: 10px; padding:20px 10px; margin-bottom:10px; display: flex; margin-top:-20px;}
.cost_tenant_selectBox{flex: 0 0 200px !important;}
.summary_box{flex:0 0 500px; padding:0 10px 0 0}
.chart_box{flex:1 1 100%; }
.title_dec{margin:15px 0; font-size:12px; color:#333; padding-right:20px; text-align: right;}
.title_dec > span{display: inline-block;}
.title_dec > span:nth-of-type(1){margin-right:20px;}
.cost-summary-item{display: flex; justify-content: space-between; align-items: center; height:80px;font-weight:700; color:#333; padding:0 20px 0 30px; border-top: dashed 1px #ccc;}
.cost-summary-item:nth-of-type(1){border-top:none}
.cost-summary-item.active{background: linear-gradient(270deg, #D483EC 0%, #717CFC 58.24%);color:#fff; border-radius:10px; }
.cost-summary-item > span{font-size:18px; }
.cost-summary-item > .cost-summary-data{font-size:22px;}
.cost_dashbordbox .btn_title_box{margin-left:10px;}
.chart-top-name{padding-left:20px;}
.chart-top-name.last{background:url('/devops/assets/images/icon_chart_blue.svg') no-repeat left center}
.chart-top-name.this{background:url('/devops/assets/images/icon_chart_multi.svg') no-repeat left center}
.cost_chart_wrap{display:flex;}
.cost_chart_content{flex:1 0 calc(50% - 16px) ;padding:16px;border-radius:5px; border:solid 1px #ddd; box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.16); margin-left:10px}
.cost_chart_content:first-child{margin-left:0px;}
.msp_dashbordbox{background:rgba(217, 217, 217, 0.3); border-radius: 10px; padding:20px 10px; margin-bottom:10px; display: flex; margin-top:-20px;}
.msp_dashbordbox .btn_title_box{margin-left:10px;}
.msp_chart_wrap{display:flex;margin-bottom:10px;}
.msp_chart_wrap > .bar_graph{background:rgba(217, 217, 217, 0.3);}
.msp_chart_content{flex:1 0 calc(50% - 16px) ;padding:16px;border-radius:5px; border:solid 1px #ddd; box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.16); margin-left:10px}
.msp_chart_content:first-child{margin-left:0px; flex: 0 0 40%}
.round_chart_wrap{display:flex;margin-top:30px;}
.round_chart_wrap > div{flex:1 1 auto}
.round_chart_wrap > .round_chart_content{flex:0 0 130px;}
.round_chart_wrap > .round_chart_content > .scrollable-table-wrapper{width:220px;max-height:200px;min-height:30px;overflow-x:hidden;overflow-y:auto;}
.chart_table{text-align: center; margin-top:10px;}
.chart_table > span{display:inline-block; font-size:12px; color:#333333; position: relative; font-weight:700;}
.chart_table > span.table_cost{display: block;overflow-wrap:anywhere;}
.chart_table > span.table_label{padding-left:15px;text-align:left;overflow-wrap:anywhere}
.chart_table > span.table_label:after{content:""; display:block;width:11px; height:11px; border-radius: 50%;  position: absolute; left:0; top:4px}
/* .chart_table:nth-of-type(1) > span.table_label:after{background: #F38C25;}
.chart_table:nth-of-type(2) > span.table_label:after{background: #189F92;}
.chart_table:nth-of-type(3) > span.table_label:after{background: #acff07;}
.chart_table:nth-of-type(4) > span.table_label:after{background: #e6dade;}
.chart_table:nth-of-type(5) > span.table_label:after{background: #967b65;}
.chart_table:nth-of-type(6) > span.table_label:after{background: #724ebf;}
.chart_table:nth-of-type(7) > span.table_label:after{background: #036EB8;}
.chart_table:nth-of-type(7) span.table_label:after{background: #036EB8;} */
/* .chart_table.group:nth-of-type(1) > span.table_label:after{background: #036EB8;} */
.chart_table > span.table_cost{font-size:22px;}

.cost-account .v-table{margin-top:10px; border-top:solid 1px #000; border-bottom:solid 1px #ddd}
.cost-account .v-table__wrapper table{font-size:12px !important; color:#333 !important; }
.cost-account .v-table__wrapper table th{background:#F7F9FA !important; font-weight: 700; height:40px !important;}
.cost-account .v-table__wrapper table td{height:40px !important;}
.cost-account  .cost-table-footer{background:#1C2536; color:#fff; font-weight: 700; border-radius: 0 0 5px 5px; margin-top:10px; align-items: center;}
.cost-account  .cost-table-footer > div:nth-of-type(1){font-size:18px; text-align: center;}
.cost-account  .cost-table-footer > div:nth-of-type(2){font-size:22px;text-align:right; padding-right:20px;}
.btn_title_box .button_list .button__buleline{position: relative; right:auto; top:auto}
.btn_title_box .button_list .button__buleline + .button__buleline {margin-left:10px;}
.btn_title_box .button_list .button__buleline.active {background:#1297F2; color:#fff !important}
.btn_title_box .button_list{position: absolute; right:0; top:0}

/* 탭 */
/* .sp_table_form .half_box .form_content  .sp__content{width:100% !important}
.portal_layout .v-table__wrapper .material-icons{color:#191919; font-size:14px; position: relative; top:-1px}
.portal_layout .v-table__wrapper  .text-success{color:#00BA88; font-size:12px; position: relative; padding-left:10px;}
.portal_layout .v-table__wrapper  .text-success:after{content:''; display: block; background:#00BA88; width:6px; height:6px; position: absolute; left:0; top:6px; border-radius:50%;}
.portal_layout .v-table__wrapper  .text-unused{color:#999999; font-size:12px; position: relative; padding-left:10px;}
.portal_layout .v-table__wrapper  .text-unused:after{content:''; display: block; background:#999999; width:6px; height:6px; position: absolute; left:0; top:6px; border-radius:50%;}
.portal_layout .v-table__wrapper .v-data-table__th {background:#F7F9FA;}
.portal_layout .v-table__wrapper {border-top:solid 1px #000; border-bottom:solid 1px #ddd} */
.portal_layout .v-slide-group__content .v-tab.v-tab{height:40px; background:#F7F9FA; border:solid 1px #ddd}
.portal_layout .v-slide-group__content .v-tab.v-tab .v-btn__content{font-size:14px; color:#999; font-weight:700;}
.portal_layout .v-slide-group__content .v-tab.v-tab.v-slide-group-item--active.selected{background:#fff;  border-top:solid 2px #1297F2}
.portal_layout .v-slide-group__content .v-tab.v-tab.v-slide-group-item--active.selected  .v-btn__content{font-size:14px; color:#1297F2;}
.portal_layout  .v-tabs--density-compact{height:40px;}
.portal_layout .tag-search-box {margin-top:10px; }
.portal_layout .tag-search-box  .v-input__control,
.portal_layout .tag-search-box  .sp-text-field .v-input__control{border:solid 1px #ddd; height:40px !important; border-radius:5px;}
.portal_layout .tag-search-box  .sp-text-field .v-input__control .v-field .v-field__prepend-inner {padding-top: 6px;}
.portal_layout .tag-search-box .sp-text-field .v-input__control .v-field .v-field__input {min-height:38px !important;}
.portal_layout .tag-search-box .sp-text-field .v-input__control .v-field .v-icon{color:#000; top:3px; margin-right: 3px;}
.portal_layout .tag-search-box .sp-text-field .v-input__control .v-field {padding-left: 8px !important;}

.portal_layout .search__wrapper .search__input .dp__input {font-size: 0.8rem;}
